<div class="container p-4">
    <div class="col-md-4 mx-auto">
        <div class="card text-center">
            <div class="card-body">
                <h4>Welcome: {{user.nombres}} {{user.apellidos}}</h4>
                <h6>Correo electrónico:  {{user.username}} </h6>
                <h6>Municipio: {{user.municipio}}</h6>
                           <h6>Profesión: {{user.profesion}}</h6>
                <a href="/links" class="btn btn-primary m-4">Guardar un link</a>
            </div>
        </div>
    </div>
</div>